body{
    font-family:Microsoft Tai Le;
    background-color: rgb(225, 231, 223);
    padding: 50px;
    margin: auto;

}
.front h1{
    font-style:inherit;
    font-weight: bold;
}
.front h5{
    color: rgb(101, 98, 98,0.5);
    font-size:x-small;
}

.container{
    
    border-radius: 6px;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 2px solid rgba(199, 194, 194, 0.2);
    box-shadow: 1px 1px 1px rgba(168, 168, 168, 0.2);
}
.inp label{
    color: rgb(76, 75, 75,0.8);
    font-weight: bold;
}
.flex-container {
    display: flex;
    height: 86vh;
    border-radius: 5px;

}
.button{
    font-weight: bold;
    width: 100%;
    border-radius: 6px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 40px;
    height: 35px;
    border: 2px solid rgb(199, 194, 194, 0.2);
    box-shadow: 1px 1px 1px rgba(191, 191, 191, 0.2);
}
.sgn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sgn a{
    margin-left: 7px;
    text-decoration: none;
    color:black;
    font-weight: bold;

}
.form1{
    flex:1;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    

}
.form{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: white;
    border-radius: 5px;
    font-size:12px;


    
}
.figure{
    flex:1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    position:relative;
}

.button1{
    font-weight: bold;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 6px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 35px;
}


.image{

    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.text{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0vw;
    margin:15px;
    left:0;
    padding: 20px;
    color:white;
    background-color: rgba(185, 182, 182, 0.2);
    backdrop-filter: blur(5px);
    vertical-align:middle;    
    display:table-cell;
}
.text .major{
    position: relative;
    top: 0vw;
    font-size: 25px;
    text-align: justify;
    font-weight:549;
}
  

.check{
    font-size: 2px;

}

.butt3{
    border: 1px solid white;
    color:white;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0);

    border-color: rgb(255, 255, 255,0.5);
    width: 50px;
    height: 50px;
    font-size:large;
    margin-right: 15px;
}
.butt2{
    border: 1px solid white;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border-color: rgb(255, 255, 255,0.5);
    width: 50px;
    height: 50px;
    font-size:large;
}
.flex-rem{
    font-weight: bold;
    display: flex;
    align-items: baseline;
}
.flex-rem div{
     flex: 1;
}
.flex-rem a{
    text-decoration: none;
    color:black;
}

.lowrow {
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
}
.minortext{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align:center;
}
.checked {
    color: white;
  }
  .majortext .text2{
    font-weight: bold;
    font-size: 30px;
  }

  .txt2{
    display: flex;
    justify-content:end;
    flex-direction: column;
  }
  .txt2 .text3{
    font-weight: bold;
  }
  .txt2 .text4{
    font-weight: normal;
    font-size: 12px;
    color: rgb(255, 255, 255,0.7);
  }
  




